.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #192734;
  width: 100%;
  padding: 3rem 0;
}

.image {
  width: 40vw;
}

.name {
  color: white;
}

.description-of-self {
  width: 70vw;
  text-align: center;
  color: #ffffff;
}

.bottom-section {
  padding: 5rem 0;
}

.projects-header {
  text-align: center;
}

.project {
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.project-pic {
  width: 40vw;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15);
}

.project-pic:hover {
  transition: .25s ease-in-out;
  transform: scale(1.1);
}

.project-info-div {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.project-title {
  font-size: 1.5rem;
}

.project-description {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 850px) {
  .project-pic {
    width: 80vw;
    display: flex;
    justify-self: center;
  }
  .project {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .project-info-div {
    width: 80vw;
  }
}
